body {
    margin: 0;
    padding: 0;
  }
  body * {
    font-family: Arial, Helvetica, sans-serif;
  }

  /* .d-inline-flex {
    height: 100%;
    padding: 0;
  } */

  .parent-div {
    height: 100%;
    overflow: hidden;
  }

  .navigation-div {
    overflow: hidden;
  }

  .content-div {
    width: 100%;
    overflow: auto;
  }

  .btn-grey {
    background-color: lightgray;
  }