.header {
    color: #D94A4A;
    align-items: center;
    padding: 10px;
}
h1 svg {
    margin: 5px;
}
 
.header-breadcrumb{
    color: grey;
    font-size: 25px;
}

.navigation-bar{
    margin-left: 85px;
}